# Task 5:

In [15]:
import pandas as pd 
import numpy as np
import joblib
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.svm import OneClassSVM

In [2]:
df = pd.read_csv('task5/test.csv')

df.head()

,id,player_id,login_count_1,login_count_2,login_count_3,login_count_4,login_lat_1,login_lon_1,login_lat_2,login_lon_2,...,guild_changes_1,guild_changes_2,guild_changes_3,guild_changes_4,account_age_days,behavior_stability,password_changed,vpn_usage,suspicious_login_time,mass_item_sale
0,ANS00001,P011753,31.222232,41.790417,28.048736,NaN,-17.074035,127.285635,-17.554811,126.865553,...,1.0,2.0,2.0,1.0,580.020715,0.830282,0.0,1.0,0.0,0.0
1,ANS00002,P010021,61.358999,49.209284,NaN,NaN,48.430879,25.555743,48.708993,26.733951,...,0.0,-1.0,-1.0,1.0,1306.627890,0.700770,0.0,NaN,0.0,0.0
2,ANS00003,P006725,24.763478,37.723228,26.879628,32.503285,8.252684,40.788695,8.346856,40.688039,...,0.0,1.0,-1.0,0.0,835.638378,0.797991,0.0,0.0,0.0,0.0
3,ANS00004,P018170,82.100747,74.862388,73.520927,83.495309,-28.728293,178.990465,-29.104994,178.810800,...,2.0,2.0,1.0,3.0,NaN,0.736845,0.0,NaN,0.0,0.0
4,ANS00005,P003027,50.901216,70.636572,55.606357,68.179388,-46.833704,167.886402,-47.372141,166.767058,...,NaN,-1.0,0.0,0.0,379.053416,0.818901,NaN,0.0,0.0,0.0

In [3]:
df.drop(['id', 'player_id'], axis = 1, inplace = True)

In [4]:
df_mice = df.copy(deep=True)

mice_imputer = IterativeImputer()

df_mice = mice_imputer.fit_transform(df_mice)

/home/mahwayji/storage/kmutt pro/kmutt year 3/Machine learning/CPE342-Karena/venv/lib/python3.12/site-packages/sklearn/impute/_iterative.py:895: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [5]:
KERN = 'RBF'
NU, GAMMA = 0.01, 0.1

ocsvm_clf = OneClassSVM(nu=NU, kernel = KERN.lower(), gamma = GAMMA)
ocsvm_clf.fit(df_mice)

y_pred = ocsvm_clf.predict(df_mice)
ocsvm_scores = ocsvm_clf.decision_function(df_mice)

In [17]:
joblib.dump(ocsvm_clf, 'task5/model.pkl')

['task5/model.pkl']

In [7]:
ocsvm_scores

array([0.00074219, 0.00074219, 0.00074219, ..., 0.00074219, 0.00074219,
       0.00074219], shape=(25889,))

In [18]:
save_y = pd.DataFrame(y_pred)

save_y.to_csv("task5/predicted.csv")