# This is the answer creating notebook

In [6]:
import pandas as pd 
import numpy as np
import joblib

## Prepare the file

In [7]:
df = pd.DataFrame()

# get the size of the test
test1 = pd.read_csv('task1/test.csv')

df['id'] = test1['id']
df

             id
0      ANS00001
1      ANS00002
2      ANS00003
3      ANS00004
4      ANS00005
...         ...
25884  ANS25885
25885  ANS25886
25886  ANS25887
25887  ANS25888
25888  ANS25889

[25889 rows x 1 columns]

## Task1

## Modify the dataset to match the training set

In [8]:
test1.drop(['id', 'player_id'], axis = 1, inplace = True)

In [9]:
model1 = joblib.load('task1/model.pkl')

y_pred = model1.predict(test1)
y_pred

array([1., 0., 0., ..., 0., 0., 0.], shape=(25889,))

In [10]:
df['task1'] = y_pred
df

             id  task1
0      ANS00001    1.0
1      ANS00002    0.0
2      ANS00003    0.0
3      ANS00004    0.0
4      ANS00005    0.0
...         ...    ...
25884  ANS25885    0.0
25885  ANS25886    1.0
25886  ANS25887    0.0
25887  ANS25888    0.0
25888  ANS25889    0.0

[25889 rows x 2 columns]

# Task 2

In [11]:
answer2 = pd.read_csv('task2/predicted.csv')

answer2.head()

   Unnamed: 0  0
0           0  2
1           1  0
2           2  0
3           3  1
4           4  0

In [12]:
df['task2'] = [i for i in answer2['0']]

df

             id  task1  task2
0      ANS00001    1.0      2
1      ANS00002    0.0      0
2      ANS00003    0.0      0
3      ANS00004    0.0      1
4      ANS00005    0.0      0
...         ...    ...    ...
25884  ANS25885    0.0      1
25885  ANS25886    1.0      1
25886  ANS25887    0.0      3
25887  ANS25888    0.0      0
25888  ANS25889    0.0      3

[25889 rows x 3 columns]

# Task 3

In [13]:
test3 = pd.read_csv('task3/test.csv')

In [14]:
test3.drop(['id', 'player_id'], axis = 1, inplace = True)

In [15]:
test3.fillna(test3.mean(), inplace = True)

In [16]:
model3 = joblib.load('task3/model3.pkl')

y_pred = model3.predict(test3)

y_pred = np.maximum(y_pred, 0)
y_pred

array([  7204.48293248,   4437.06607585, 109102.44746348, ...,
         9165.50805029,      0.        ,      0.        ], shape=(25889,))

In [17]:
df['task3'] = y_pred

df

             id  task1  task2          task3
0      ANS00001    1.0      2    7204.482932
1      ANS00002    0.0      0    4437.066076
2      ANS00003    0.0      0  109102.447463
3      ANS00004    0.0      1       0.000000
4      ANS00005    0.0      0    1300.092167
...         ...    ...    ...            ...
25884  ANS25885    0.0      1    1904.082729
25885  ANS25886    1.0      1    3146.930342
25886  ANS25887    0.0      3    9165.508050
25887  ANS25888    0.0      0       0.000000
25888  ANS25889    0.0      3       0.000000

[25889 rows x 4 columns]

# Task 4

In [18]:
test4 = pd.read_csv('task4/test.csv')

test4.head()

         id    file_name  label
0  ANS00001  scyd5lz.jpg    NaN
1  ANS00002  slbh6z4.jpg    NaN
2  ANS00003  s3u8t8d.jpg    NaN
3  ANS00004  s0jrf0c.jpg    NaN
4  ANS00005  susbkwa.jpg    NaN

In [19]:
from keras.models import load_model
from keras.preprocessing.image import load_img

model4 = load_model('task4/model4.h5')

image = load_img('task4/test/s0a8c3o.jpg', target_size = (128,128))
img = np.array(image)
img = img/255.0
img = img.reshape(1,128,128,3)

proba = model4.predict(img)
label = np.argmax(proba, axis=-1)   
print(label)

2025-11-10 18:00:14.856670: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2025-11-10 18:00:15.704093: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-11-10 18:00:23.640169: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1762772426.011980  864472 cuda_executor.cc:1309] INTERNAL: CUDA Runtime error: Failed call to cudaGetRuntimeVersion: Error loading CUDA libraries. GPU will not be used.: Error loading CUDA libraries. GPU will not be used.
W0000 00:00:1762772426.042199  864472 gpu_device.cc:2342] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2025-11-10 18:00:26.579091: W external/local_xla/xla/tsl/framework/cpu_allocator_impl.cc:84] Allocation of 28311552 exceeds 10% of free system memory.
2025-11-10 18:00:26.606260: W external/local_xla/xla/tsl/framework/cpu_allocator_impl.cc:84] Allocation of 28311552 exceeds 10% of free system memory.
2025-11-10 18:00:26.624248: W external/local_xla/xla/tsl/framework/cpu_allocator_impl.cc:84] Allocation of 28311552 exceeds 10% of free system memory.
2025-11-10 18:00:27.125089: W external/local_xla/xla/tsl/framework/cpu_allocator_impl.cc:84] Allocation of 28311552 exceeds 10% of free system memory.
WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 519ms/step
[0]

In [20]:
import os
default_path = os.path.join('task4', 'test')

y_pred = []
for i in test4['file_name']:
    image = load_img(os.path.join(default_path, i), target_size = (128,128))
    img = np.array(image)
    img = img/255.0
    img = img.reshape(1,128,128,3)
    proba = model4.predict(img, verbose = 0)
    labeled = np.argmax(proba[0], axis=-1)
    y_pred.append(labeled)    
    
y_pred

[np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(1),
 np.int64(4),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(4),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(4),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(4),
 np.int64(4),
 np.int64(3),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(3),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 ...]

In [21]:
df['task4'] = y_pred

df

             id  task1  task2          task3  task4
0      ANS00001    1.0      2    7204.482932      2
1      ANS00002    0.0      0    4437.066076      0
2      ANS00003    0.0      0  109102.447463      0
3      ANS00004    0.0      1       0.000000      0
4      ANS00005    0.0      0    1300.092167      0
...         ...    ...    ...            ...    ...
25884  ANS25885    0.0      1    1904.082729      3
25885  ANS25886    1.0      1    3146.930342      0
25886  ANS25887    0.0      3    9165.508050      3
25887  ANS25888    0.0      0       0.000000      3
25888  ANS25889    0.0      3       0.000000      0

[25889 rows x 5 columns]

# Task 5

In [22]:
answer5 = pd.read_csv('task5/predicted.csv')

answer5.head()

   Unnamed: 0  0
0           0  1
1           1  1
2           2  1
3           3  1
4           4  1

In [23]:
df['task5'] = [1.0 if (i==-1) else 0.0 for i in answer5['0']]

df

             id  task1  task2          task3  task4  task5
0      ANS00001    1.0      2    7204.482932      2    0.0
1      ANS00002    0.0      0    4437.066076      0    0.0
2      ANS00003    0.0      0  109102.447463      0    0.0
3      ANS00004    0.0      1       0.000000      0    0.0
4      ANS00005    0.0      0    1300.092167      0    0.0
...         ...    ...    ...            ...    ...    ...
25884  ANS25885    0.0      1    1904.082729      3    0.0
25885  ANS25886    1.0      1    3146.930342      0    0.0
25886  ANS25887    0.0      3    9165.508050      3    0.0
25887  ANS25888    0.0      0       0.000000      3    0.0
25888  ANS25889    0.0      3       0.000000      0    0.0

[25889 rows x 6 columns]

# Save answer

In [24]:
df.to_csv('Answer.csv', index = False)