# Task 2: Player Segment Classification

In this task we will have to classified which segment of the user are which are: Casual player, Competitive grinder, Social player, and Whale. We will be using Multi-class classification for as a method for this task.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Step 1: Data Preparation

### Step 1.1: Dowload Data

In [ ]:
df = pd.read_csv('train.csv')
df.head()

,id,player_id,play_frequency,avg_session_duration,total_playtime_hours,login_streak,days_since_last_login,total_spending_thb,avg_monthly_spending,spending_frequency,...,platform,device_type,payment_method,language,account_status,player_type_tag,engagement_level,loyalty_tier,skill_tier,segment
0,PLY00001,P050236,5.495437,24.837349,2740.945124,60.0,56.034052,58219.915660,434.038311,17.790970,...,PC,Phone,Wallet,DE,Active,Social,Low,Silver,NaN,0
1,PLY00002,P108696,9.991089,88.376322,NaN,22.0,75.036888,28966.163953,4233.532935,28.862134,...,Console,Desktop,Card,ES,Dormant,Collector,Low,Platinum,Gold,2
2,PLY00003,P113532,14.234225,101.712292,2828.479467,66.0,NaN,44478.823835,4849.491895,22.536406,...,PC,Laptop,NaN,EN,Dormant,Casual,High,Diamond,Gold,3
3,PLY00004,P123930,3.373683,191.975841,1915.082950,80.0,0.127910,57074.116993,6863.516123,10.565666,...,Console,Tablet,NaN,ES,Dormant,Competitive,Veteran,Silver,Gold,3
4,PLY00005,P068623,22.469353,28.042509,517.921948,NaN,45.078460,NaN,4408.101247,11.226504,...,PC,Tablet,Gift,EN,Active,Casual,Mid,Silver,NaN,1

In [3]:
df.describe()

,play_frequency,avg_session_duration,total_playtime_hours,login_streak,days_since_last_login,total_spending_thb,avg_monthly_spending,spending_frequency,friend_count,team_play_percentage,...,item_type_preference_social,account_age_days,vip_tier,responds_to_discounts,preferred_game_mode,avg_match_length,peak_concurrent_hours,random_metric_1,random_metric_2,random_metric_3
count,23886.000000,23931.000000,23924.000000,23875.000000,23993.000000,23972.000000,23958.000000,23939.000000,23886.000000,23867.000000,...,23878.000000,23920.000000,23882.000000,23908.000000,23887.000000,23947.000000,23865.000000,23907.000000,23869.000000,23943.000000
mean,12.161156,107.678998,1703.446426,54.886031,46.083595,34222.165382,3306.207956,16.997166,107.376371,50.260161,...,0.499383,824.751672,1.307009,0.602267,2.006196,35.193107,55.541370,496.659297,0.501005,100.299085
std,7.137460,54.382705,937.995368,35.447935,20.730933,21965.576170,1926.673754,9.666874,65.456590,19.810136,...,0.197363,463.578954,1.414821,0.489440,1.414526,14.860633,35.518082,288.477590,0.290291,49.557982
min,1.000750,20.003664,100.193946,0.000000,0.000309,505.655161,100.049431,1.000558,0.000000,5.000000,...,0.050000,0.000000,0.000000,0.000000,0.000000,0.038842,0.004721,0.032056,0.000013,-132.000000
25%,6.451025,64.593538,974.456908,26.000000,31.591645,16540.717498,1786.858886,9.361564,56.000000,36.531945,...,0.362155,468.000000,0.000000,0.000000,1.000000,24.740234,27.433286,245.354485,0.247247,67.000000
50%,11.408409,102.285640,1642.154985,51.000000,45.975598,31856.689000,3155.118863,16.285289,102.000000,50.136081,...,0.498452,798.000000,1.000000,1.000000,2.000000,35.040299,51.878563,496.423040,0.504696,100.000000
75%,16.876592,144.408282,2337.244735,79.000000,60.147322,48878.370210,4618.712686,23.491062,152.000000,63.836883,...,0.635832,1141.000000,2.000000,1.000000,3.000000,45.325417,79.000187,746.543993,0.754260,133.000000
max,43.605779,357.356683,5430.921495,235.000000,130.277266,125119.922252,11641.566718,57.530926,411.000000,100.000000,...,0.950000,2870.000000,5.000000,1.000000,4.000000,91.606634,220.478370,999.946702,0.999956,293.000000

In [ ]:
df['total_spending_thb'].fillna(0.0)

df

,id,player_id,play_frequency,avg_session_duration,total_playtime_hours,login_streak,days_since_last_login,total_spending_thb,avg_monthly_spending,spending_frequency,...,region,platform,device_type,payment_method,language,account_status,player_type_tag,engagement_level,loyalty_tier,skill_tier
0,ANS00001,P106074,4.917599,50.951821,1610.535142,3.0,40.047516,61031.190124,5403.618682,21.099955,...,NaN,PC,Tablet,NaN,EN,Active,Competitive,Mid,Diamond,Gold
1,ANS00002,P024878,8.060471,81.376671,543.088681,104.0,37.296412,10862.656232,NaN,17.909547,...,EU,Mobile,Laptop,Card,ES,Active,NaN,Mid,Silver,Bronze
2,ANS00003,P033678,NaN,27.707037,721.533684,14.0,52.484579,27515.141077,1098.230071,26.183854,...,NaN,PC,Phone,Wallet,ES,Dormant,Collector,Low,Bronze,Platinum
3,ANS00004,P020935,27.002787,26.859972,1442.810933,62.0,43.851594,5299.499711,NaN,3.228531,...,APAC,PC,Phone,Wallet,ES,Dormant,Competitive,NaN,Bronze,Silver
4,ANS00005,P049711,6.188164,49.545383,2039.185739,8.0,15.519366,7491.446985,1645.853549,27.231039,...,LATAM,Console,Desktop,Wallet,ES,Dormant,Competitive,Low,Silver,Platinum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25884,ANS25885,P027029,8.775808,136.657801,NaN,104.0,27.716894,52024.435292,6542.959252,8.943746,...,AS,Console,Desktop,Wallet,DE,Active,Competitive,Mid,Silver,Platinum
25885,ANS25886,P084134,14.578502,142.806569,1377.660175,112.0,42.323686,34027.337870,5003.671636,6.884182,...,NaN,NaN,NaN,NaN,ES,NaN,Collector,Veteran,Silver,Gold
25886,ANS25887,P072499,7.211300,121.502257,3141.188491,43.0,19.584220,NaN,NaN,31.886739,...,NaN,PC,Tablet,NaN,ES,Dormant,Collector,High,NaN,Gold
25887,ANS25888,P011845,2.345938,46.367655,2647.562555,65.0,2.344132,50515.411004,3160.661119,11.481060,...,NaN,PC,Desktop,Wallet,DE,Dormant,Social,Low,Bronze,Diamond
25888,ANS25889,P121962,15.027342,65.766832,3556.509508,7.0,9.901532,75218.955205,6010.718942,23.580829,...,LATAM,Mobile,Phone,Card,FR,Dormant,Competitive,High,Gold,Platinum